<head>
  <meta charset="utf-8" />
  <title>{{ .Title }}</title>


  <!-- mobile responsive meta -->
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
  <!-- fontawesome -->
  <link rel="stylesheet" href="{{ "fa/css/all.min.css" | absURL }}">
  <script src="https://code.iconify.design/2/2.2.1/iconify.min.js"></script>

  {{ "<!-- Critical CSS -->" | safeHTML }}
  {{ $stylex := resources.Get "scss/critical.scss" | resources.ToCSS | minify }}
  <link href="{{ $stylex.Permalink }}" rel="stylesheet" />

  {{ "<!--Favicon-->" | safeHTML }}
  <link rel="shortcut icon" href="{{ "images/favicon.png" | absURL }}" type="image/x-icon" />
  <link rel="icon" href="{{ "images/favicon.png" | absURL }}" type="image/x-icon" />
  {{ with site.Params.googleAnalytics }}
  {{ "<!-- Google Analytics -->" | safeHTML }}
  <script async src="https://www.googletagmanager.com/gtag/js?id={{ . }}"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', '{{ . }}');
  </script>
  {{ end }}

  <!--  Typed.js (https://github.com/mattboldt/typed.js/blob/master/README.md)-->
  <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>
</head>
